body {
    position: relative;
    background: lightgrey;
    min-height: 45rem;
    padding-bottom: 80px;
    margin: 10px;
    font-family: "fantasy";
}
/* GALLERIE */


#gallery{
    position: relative;
    align-content: space-evenly;
    background:gray();
    height: 460px;
    overflow: hidden;

}

.suivant{
    cursor: pointer;
    position: absolute;
    top : 180px;
    right: -20px;
    height: 100px;

    background-image: url("../images/suivant.png");
    width: 120px;
}

.precedent{
    cursor: pointer;
    position: absolute;
    top : 180px;
    left: -20px;
    height: 100px;

    background-image: url("../images/prec.png");
    width: 120px;
}

.suivant:hover{
    background-color:transparent;
}

.precedent:hover{
    background-color:transparent;
}

.slider{
    width: 5000px;
    position: relative;
    top: 16px;
    left: -0px;
}

#gallery a{
    display: block;
    float: left;
    padding: 2px;
}

#gallery a img{
    border: solid 2px black;
    height: 410px;
}

/* FIN DE GALLERIE */

html {height:100%}

/* HOMEPAGE */

.titre-accueil{
    align-content: center;
    text-align: center;
    font-family: "Arial Black";
    font-size: 3em;
    font-style: initial;
    color: darkgoldenrod;
}

.img-accueil{
    border-width: 2em;
    border-color: sandybrown;
    border-style: ridge;
    padding: 2em;

}

a.btn.btn-info {
    background-color: dimgrey;

}

.button-access-billet{
    text-align: center;

}

.text-home{
    text-align: justify;
    text-overflow-ellipsis: on;
}

/**THANKS*/

.text-merci{
    display: block;
    text-align: center;
}
