body {
    position: relative;
    background: lightgrey;
    min-height: 45rem;
    padding-bottom: 80px;
    margin: 10px;
    font-family: "fantasy";
}

html {height:100%}

/* HOMEPAGE */

.titre-accueil{
    align-content: center;
    text-align: center;
    font-family: "Arial Black";
    font-size: 3em;
    font-style: initial;
    color: #F5871F;
}

.img-accueil{
    border-width: 2em;
    border-color: sandybrown;
    border-style: ridge;
    padding: 2em;

}

a.btn.btn-info {
    background-color: chocolate;
}

.button-access-billet{
    text-align: center;

}

