{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>


    <h1>{{ title }}</h1>
        <hr>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="http://via.placeholder.com/1000x600" alt="First slide">
                </div>
            </div>
        </div>

        <br>


        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{{ path("ticket_phase_1") }}" class="btn btn-info" role="button">Acceder à la billeterie en ligne</a>
            </div>
        </div>


        <br><br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac congue urna. Sed in ipsum nec risus congue tincidunt at ac nisi.
            Curabitur pharetra tellus in varius rhoncus. In facilisis nisl tincidunt diam malesuada fermentum. Maecenas nec laoreet odio, id porta mauris.
            Integer scelerisque eros placerat dolor lacinia, et pretium lacus volutpat. Duis erat diam, molestie sed fringilla non, posuere ac dui.
            Maecenas vitae massa nunc. Aliquam tincidunt nibh nisi, id commodo dolor placerat et. Vivamus rutrum pretium imperdiet. Aliquam ac commodo felis, at suscipit diam.
            Nunc maximus venenatis ipsum a mollis.
        </p>
        <p>
            Vestibulum vel efficitur ligula. Aenean blandit lacinia dolor non euismod.
            Quisque lacinia gravida dolor, non tempus odio dignissim pretium. Etiam ultrices consectetur turpis, ut egestas elit sodales a.
            Aliquam pharetra risus in luctus dictum. Vivamus vel mollis justo. Fusce ultricies metus at justo efficitur vehicula. Sed eu leo quis sem faucibus elementum.
            Duis blandit nibh neque, a tincidunt mi porta at. Vivamus aliquet turpis rhoncus sagittis blandit.
        </p>



{% endblock %}


