{% extends 'base.html.twig' %}

{% block title %} {{ title }}!{% endblock %}

{% block body %}
    <br>
    <h1>CREATION DE VOTRE COMMANDE</h1>
        <h2>Veuillez remplir les informations ci-après :</h2>
        <br>
        {{ form(formCommande) }}

{% endblock %}
