{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

    <p>
        Bienvenue sur le site du musée du Louvre.

        Ancien palais des rois, le Louvre épouse l’histoire de France depuis huit siècles. Conçu dès sa création en 1793 comme un musée universel, ses collections,
        qui figurent parmi les plus belles au monde, couvrent plusieurs millénaires et un territoire qui s’étend de l’Amérique aux frontières de l’Asie.
        Réparties en huit départements, elles contiennent des œuvres universellement admirées, comme La Joconde, la Victoire de Samothrace ou la Vénus de Milo.
        Le Louvre est aujourd’hui le musée le plus visité au monde.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nibh tincidunt, volutpat tellus vitae, vulputate neque. Proin ornare, nisi eu rhoncus lacinia, leo ex facilisis nisi, condimentum imperdiet quam ex ac lectus. Praesent diam mauris, rutrum in velit ut, laoreet vehicula elit. Curabitur sit amet ornare diam, id venenatis mi. Pellentesque in congue metus, ac mollis nisl. Pellentesque iaculis posuere gravida. Fusce nulla libero, euismod vitae augue ac, consectetur vulputate ex. Quisque at vulputate turpis. Suspendisse id nulla mauris. Aliquam ornare orci eget ligula iaculis sollicitudin. Nullam feugiat congue arcu vitae lobortis.

        Donec eget placerat nisl. Integer vulputate quis risus aliquam fermentum. Pellentesque tincidunt sollicitudin auctor. Nam mattis velit nunc, et lacinia sapien euismod sed. Proin facilisis blandit elementum. Proin tortor eros, vulputate sit amet accumsan nec, tincidunt aliquam ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec mollis ultricies purus, pharetra volutpat ipsum. Sed id metus sit amet metus scelerisque efficitur. Etiam tristique consectetur lectus at commodo. Morbi quis arcu purus. Donec luctus lorem libero, sit amet rhoncus magna eleifend ut. Donec viverra ac nunc eget sagittis.

        Praesent eget enim erat. Praesent convallis, sapien id ullamcorper ultricies, orci ipsum maximus felis, non efficitur erat augue ut nisi. Nunc volutpat sodales tristique. Pellentesque vel ultricies leo, non sagittis arcu. Aenean at leo nisl. Praesent ac ultrices ante, vitae venenatis lorem. Nam ultricies, sem in maximus dignissim, lectus arcu blandit ligula, ac semper enim libero et libero. Etiam eleifend sapien ut enim dictum, et dignissim risus egestas. Nullam accumsan porta sapien, nec pulvinar velit finibus in.

        Donec aliquam tincidunt lorem, non congue erat posuere eu. Pellentesque diam libero, tempor at consequat sit amet, tincidunt in metus. Sed vitae viverra nunc. In condimentum sapien vitae tempus hendrerit. Donec et ante sed magna blandit pretium ut ac augue. Vestibulum in erat in purus venenatis rhoncus quis at enim. Nunc mollis arcu eu lorem ullamcorper, quis facilisis risus sollicitudin.

        Nam scelerisque nisl tellus, nec convallis diam sagittis sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur orci quam, facilisis sit amet porta id, tincidunt et neque. Praesent vitae orci nec tortor interdum eleifend. Maecenas volutpat pharetra urna, ut dapibus enim feugiat non. Proin vitae neque risus. Integer vestibulum, eros ut tristique tempus, magna lorem cursus ipsum, a pulvinar odio elit non mauris. In nibh diam, pharetra quis viverra ut, finibus id velit. Donec auctor lectus sed efficitur aliquam. Etiam auctor tristique sem, ac euismod enim faucibus a. Morbi blandit porttitor nunc non vestibulum. Praesent feugiat, diam ac congue volutpat, orci ipsum porttitor sem, vitae varius elit ligula quis ligula. Curabitur ac risus vel lectus fringilla cursus.
    </p>


{% endblock %}