{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <br>

    <div class="titre-accueil">
        {{ title }}
        {% for msg in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}
    </div>

    <hr>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ asset ("images/Thankyou.png")}}" alt="Thanks">

                </div>
                <br>
                    <div class="text-merci">
                        <h4>UN MAIL CONTENANT VOS BILLETS VIENT DE VOUS ETRE ENVOYE SUR VOTRE  BOITE MAIL</h4>
                    </div>
            </div>
        </div>
    <br><br>
{% endblock %}


